@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    color: bisque;
}

.container {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
}

#navbar {
    width: 90%;
    padding: 20px 0;
    background-color: #0e0e0e;
    margin-bottom: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#mainRez h1,
#iletisim h1,
#rezList h1,
#adminRezList h1 {
    font-size: 80px;
}

.menu {
    display: flex;
    gap: 50px;
}

a {
    font-size: 25px;
    color: bisque;
}

input {
    width: 250px;
    border: 2px solid bisque;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    background-color: #0e0e0e;
    color: bisque;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

input[type="submit"] {
    cursor: pointer;
}

#input {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

input::placeholder {
    color: bisque;
}

#kapat,
#rezGör {
    background-color: transparent;
    border: 2px solid bisque;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 6px;
    color: bisque;
    cursor: pointer;
}